<!DOCTYPE html>
<html>
<head>
  <title>Bloggable</title>
  <%= stylesheet_link_tag    "bloggable/application", media: "all" %>
  <%= javascript_include_tag "bloggable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
